<div class="login-panel">
  <h1 class="title">后台管理系统</h1>
  <nz-tabset nzCentered>
    <nz-tab [nzTitle]="accountTemplate">
      <ng-template #accountTemplate>
        <i nz-icon nzType="user" nzTheme="outline"></i>
        账户密码登录
      </ng-template>

      <!-- 账户密码登录内容 -->
      <app-login-account></app-login-account>
    </nz-tab>

    <nz-tab [nzTitle]="phoneTemplate">
      <ng-template #phoneTemplate>
        <i nz-icon nzType="mobile" nzTheme="outline"></i>
        手机号登录
      </ng-template>

      <!-- 手机号内容 -->
      <app-login-phone></app-login-phone>
    </nz-tab>
  </nz-tabset>

  <div nz-row class="account-control">
    <label nz-checkbox [(ngModel)]="rememberMe" name="rememberMe">
      <span>记住登录</span>
    </label>
    <a class="login-form-forgot">忘记密码</a>
  </div>

  <button nz-button class="login-button" nzType="primary" (click)="handleLoginClick()">登录</button>
</div>
