<div>
  <nz-card>
    <form nz-form>
      <!-- 使用栅格适配移动端 -->
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="6" [nzXXl]="6">
          <nz-form-item>
            <nz-form-label>角色名称</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="请输入角色名称" name="roleName" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
</div>
