<div>
  <!--搜索表单-->
  <app-query-form [formConfig]="queryForm" [loading]="loading" (searchOnClick)="query($event)"></app-query-form>

  <!--角色列表-->
  <app-table-list
    [columnKeyValueMap]="tableKeyValue"
    [requestUrl]="'system/role/list'"
    [commendColum]="commendColumn"
    [(loading)]="loading"
    [showCheckboxColum]="true"
    [addForm]="toolbar"
    [editForm]="toolbar"
  ></app-table-list>

  <!--列表操作列插槽-->
  <ng-template #commendColumn let-data>
    <span class="operate-text"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</span>
    <span class="operate-text"><i nz-icon nzType="delete" nzTheme="outline"></i>删除</span>
  </ng-template>

  <!--列表抬头工具栏插槽-->
  <ng-template #toolbar>
    <nz-space nzSize="middle">
      <button *nzSpaceItem nz-button nzType="primary"><i nz-icon nzType="plus"></i>新增</button>
    </nz-space>
  </ng-template>
</div>
