<nz-modal
  [nzVisible]="nzVisible"
  (nzVisibleChange)="nzVisibleChange.emit($event)"
  [nzTitle]="'新增'"
  [nzContent]="formContent"
  (nzOnCancel)="nzVisibleChange.emit(false)"
  (nzOnOk)="submit()"
>
  <ng-template #formContent>
    <form nz-form [formGroup]="formGroup">
      <!-- 使用栅格适配移动端 -->
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24 / (config.columnCount > 1 ? 2 : 1)"
          [nzLg]="24 / (config.columnCount > 2 ? 3 : config.columnCount > 1 ? 2 : 1)"
          [nzXl]="24 / config.columnCount"
          [nzXXl]="24 / config.columnCount"
          *ngFor="let config of formConfig"
        >
          <!--文本输入框-->
          <nz-form-item *ngIf="config.type === 'input'">
            <nz-form-label [nzRequired]="checkRequired(config)">{{ config.label }}</nz-form-label>
            <nz-form-control
              [nzHasFeedback]="!!config.validatorOrOpts || !!config.asyncValidator"
              [nzErrorTip]="errorTip"
            >
              <nz-input-group [nzSuffix]="">
                <input
                  nz-input
                  [placeholder]="'请输入' + config.label"
                  [name]="config.name"
                  [formControlName]="config.name"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-template>
</nz-modal>

<!--错误信息显示模板-->
<ng-template #errorTip let-control>
  <div>{{ getControlErrorMessage(control) }}</div>
</ng-template>
