<div>
  <!-- 数据列表展示部分 -->
  <nz-card class="table-list" [nzBordered]="false" [nzTitle]="title" [nzExtra]="tableToolbar">
    <nz-table
      #table
      [nzData]="listData.records"
      nzShowPagination
      nzOuterBordered
      [nzLoading]="loading"
      nzTableLayout="fixed"
      [nzFrontPagination]="false"
      [nzLoadingDelay]="loadingDelay"
      [nzTotal]="listData.total"
      [nzPageSize]="listData.pageSize"
      [nzPageIndex]="listData.current"
      [nzShowTotal]="pageTotalInfo"
      [nzSize]="tableSize"
    >
      <!--标题展示-->
      <thead>
        <tr>
          <!--checkbox列-->
          <th
            nzShowCheckbox
            nzWidth="4rem"
            *ngIf="showCheckboxColum"
            [nzIndeterminate]="allCheckedIndeterminate"
            nzLeft
            [nzChecked]="allChecked"
            (nzCheckedChange)="allCheckedChange($event)"
          ></th>

          <!--业务列-->
          <ng-container *ngFor="let item of cacheColumnKeyValue">
            <th
              *ngIf="item.hide === undefined || item.hide === false"
              nzAlign="center"
              [nzWidth]="!item.width ? null : item.width + 'px'"
              [nzShowSort]="item.showSort"
              [nzSortOrder]="item.sortOrder ? item.sortOrder : null"
              [nzSortFn]="item.sortFn ? item.sortFn : null"
              nz-resizable
              nzPreview
              [nzMaxWidth]="1200"
              [nzMinWidth]="80"
            >
              {{ item.name }}
            </th>
          </ng-container>

          <!--操作列-->
          <th *ngIf="editForm || allowDelete || commendColum" nzAlign="center">操作</th>
        </tr>
      </thead>

      <!-- 数据展示 -->
      <tbody>
        <tr *ngFor="let data of table.data">
          <!--checkbox列-->
          <td
            nzShowCheckbox
            *ngIf="showCheckboxColum"
            nzEllipsis
            nzLeft
            [nzChecked]="data['_checked']"
            (nzCheckedChange)="itemCheckedChange($event, data)"
          ></td>

          <!--业务列-->
          <ng-container *ngFor="let item of cacheColumnKeyValue">
            <td
              *ngIf="item.hide === undefined || item.hide === false"
              [nzAlign]="item.align ? item.align : 'center'"
              [nzEllipsis]="item.ellipsis ? item.ellipsis : false"
            >
              {{ getColumnValue(item, data) }}
            </td>
          </ng-container>

          <!--操作列-->
          <td nzAlign="center" *ngIf="editForm || allowDelete || commendColum">
            <span class="operate-text m-r-1" *ngIf="editForm"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</span>
            <span
              class="operate-text m-r-1"
              *ngIf="allowDelete"
              nz-popconfirm
              nzPopconfirmTitle="您确认要删除吗？"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteItem([data.id])"
              ><i nz-icon nzType="delete" nzTheme="outline"></i>删除</span
            >
            <ng-container *ngTemplateOutlet="commendColum; context: { $implicit: data }"></ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>

  <!--展示分页总数信息-->
  <ng-template #pageTotalInfo let-total let-range="range">
    第 {{ range[0] }}-{{ range[1] }} 条/总共 {{ total }} 条
  </ng-template>

  <!--工具栏汇总-->
  <ng-template #tableToolbar>
    <div class="toolbar">
      <!--自定义工具栏-->
      <ng-container *ngIf="toolbarTemplate">
        <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
      </ng-container>

      <nz-space nzSize="middle">
        <!--新增按钮-->
        <ng-container *ngIf="addForm">
          <button *nzSpaceItem nz-button nzType="primary"><i nz-icon nzType="plus"></i>新增</button>
        </ng-container>

        <!--修改按钮-->
        <ng-container *ngIf="editForm && checkedIds.length === 1">
          <button *nzSpaceItem nz-button nzType="default"><i nz-icon nzType="edit"></i>修改</button>
        </ng-container>

        <!--删除按钮-->
        <ng-container *ngIf="showCheckboxColum && checkedIds.length > 0 && allowDelete">
          <button
            *nzSpaceItem
            nz-button
            nzType="default"
            nzDanger
            nz-popconfirm
            nzPopconfirmTitle="您确认要删除吗？"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteItem(checkedIds)"
          >
            <i nz-icon nzType="delete"></i>删除
          </button>
        </ng-container>
      </nz-space>

      <nz-divider nzType="vertical" *ngIf="addForm || editForm || showCheckboxColum"></nz-divider>

      <!--图标按钮-->
      <nz-space nzSize="middle">
        <i
          class="hand-model hover-color"
          *nzSpaceItem
          nz-icon
          nzType="reload"
          [nzSpin]="loading"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="刷新"
          (click)="refresh()"
        ></i>
        <i
          class="hand-model hover-color"
          *nzSpaceItem
          nz-icon
          nzType="column-height"
          nzTheme="outline"
          nzTrigger="click"
          nz-tooltip
          nzTooltipTitle="密度"
          nz-dropdown
          [nzDropdownMenu]="tableSizeMenu"
          nzPlacement="bottomCenter"
        ></i>
        <i
          class="hand-model hover-color"
          *nzSpaceItem
          nz-icon
          nzType="setting"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="列设置"
          nz-popover
          nzPopoverTrigger="click"
          [nzPopoverContent]="columSettingContentTemplate"
          [nzPopoverTitle]="columSettingTitleTemplate"
          nzPopoverPlacement="bottomRight"
        ></i>
      </nz-space>
    </div>
  </ng-template>
</div>

<!--列表密度插槽-->
<nz-dropdown-menu #tableSizeMenu>
  <ul nz-menu>
    <li
      nz-menu-item
      (click)="changeTableSize(item.value)"
      [nzSelected]="item.selected"
      *ngFor="let item of tableSizeProps"
    >
      <span>{{ item.name }}</span>
    </li>
  </ul>
</nz-dropdown-menu>

<!--列设置弹出气泡标题模板-->
<ng-template #columSettingTitleTemplate>
  <div class="space-between p-0">
    <label nz-checkbox>列展示</label>

    <button class="operate-text" nz-button nzType="text">重置</button>
  </div>
</ng-template>

<!--列设置弹出气泡内容模板-->
<ng-template #columSettingContentTemplate>
  <ul cdkDropList style="min-width: 31.5rem; padding-left: 0">
    <li cdkDrag class="space-between" *ngFor="let item of cacheColumnKeyValue" style="margin-top: 0.5rem">
      <!--列名-->
      <div>
        <i nz-icon nzType="drag" nzTheme="outline"></i>
        <label
          nz-checkbox
          [nzChecked]="!item.hide"
          style="margin-left: 0.5rem"
          (nzCheckedChange)="changeColumnHide($event, item)"
          >{{ item.name }}</label
        >
      </div>

      <div>
        <i
          class="hand-model"
          nz-tooltip
          nzTooltipTitle="固定到左侧"
          nz-icon
          nzType="vertical-right"
          nzTheme="outline"
        ></i>
        <nz-divider nzType="vertical"></nz-divider>
        <i
          class="hand-model"
          nz-tooltip
          nzTooltipTitle="固定到右侧"
          nz-icon
          nzType="vertical-left"
          nzTheme="outline"
        ></i>
      </div>
    </li>
  </ul>
</ng-template>
