@import '~src/styles/constant';

.main {
  min-width: @layout-hide-nav-width;

  .showMobile {
    @media (max-width: @layout-hide-nav-width) {
      display: none;
    }
  }

  nz-header {
    background: white;
    height: @layout-header-height;
    padding: 0;
    z-index: 10;
  }

  nz-footer {
    text-align: center;
  }
}
