<div class="main">
  <nz-layout>
    <!--左侧菜单-->
    <nz-sider
      (nzCollapsedChange)="collapseSize($event)"
      [class]="{ showMobile: globalCollapse.asObservable() | async }"
      [nzCollapsedWidth]="48"
      [nzCollapsed]="globalCollapse.asObservable() | async"
      [nzTrigger]="null"
      nzBreakpoint="lg"
      nzCollapsible
    >
      <app-nav-menu></app-nav-menu>
    </nz-sider>

    <!--右侧内容-->
    <nz-layout>
      <!--header部分-->
      <nz-header>
        <app-nav-header></app-nav-header>
      </nz-header>

      <nz-content>
        <!--页面标签-->
        <app-nav-tab></app-nav-tab>

        <!--路由展示内容-->
        <div [@fadeRouteAnimation]="prepareRoute(outlet)">
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2022 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
</div>
